vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jun 2014 08:50:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Bootsrtap/DatHack/index.html
vti_author:SR|PASTESOFT8\\vita
vti_modifiedby:SR|PASTESOFT8\\vita
vti_timecreated:TR|07 Jan 2014 18:25:18 -0000
vti_nexttolasttimemodified:TW|05 Jun 2014 08:50:42 -0000
vti_cacheddtm:TX|05 Jun 2014 08:50:56 -0000
vti_filesize:IR|2612
vti_cachedlinkinfo:VX|S|../img/intro-bga.jpg S|../img/banner-bga.jpg
vti_cachedsvcrellinks:VX|FSUS|Bootsrtap/DatHack/img/intro-bga.jpg FSUS|Bootsrtap/DatHack/img/banner-bga.jpg
